{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% endif %}

{% if post.googleplus_user %}
  {% assign googleplus_user = post.googleplus_user %}
{% elsif page.googleplus_user %}
  {% assign googleplus_user = page.googleplus_user %}
{% endif %}

{% if post.twitter_user %}
  {% assign twitter_user = post.twitter_user %}
{% elsif page.twitter_user %}
  {% assign twitter_user = page.twitter_user %}
{% endif %}

{% if post.facebook_user %}
  {% assign facebook_user = post.facebook_user %}
{% elsif page.facebook_user %}
  {% assign facebook_user = page.facebook_user %}
{% endif %}

{% if post.github_user %}
  {% assign github_user = post.github_user %}
{% elsif page.github_user %}
  {% assign github_user = page.github_user %}
{% endif %}

{% if author %}
  <section>
    <h1>Posted By</h1>
    <div>
      <ul class="editor-profile">
        {% if googleplus_user %}
        <li class="avatar">
          <a href="https://plus.google.com/{{ googleplus_user }}?rel=author"><img src="https://plus.google.com/s2/photos/profile/{{ googleplus_user }}?sz=64" /></a>
        </li>
        {% endif %}
        <li>
          <ul class="profile-list">
            {% if googleplus_user %}
            <li><a href="https://plus.google.com/{{ googleplus_user }}?rel=author">{{ author }}</a></li>
            {% else %}
            <li>{{ author }}</li>
            {% endif %}
            {% if github_user %}
            <li class="social-icon">
              <a href="https://github.com/{{ github_user }}"><img src="/images/posted_by/github.png" /></a>
            </li>
            {% endif %}
            {% if twitter_user %}
            <li class="social-icon">
              <a href="https://twitter.com/{{ twitter_user }}"><img src="/images/posted_by/twitter.png" /></a>
            </li>
            {% endif %}
            {% if facebook_user %}
            <li class="social-icon">
              <a href="https://facebook.com/{{ facebook_user }}"><img src="/images/posted_by/facebook.png" /></a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    <div style="clear: both"></div>
  </section>
{% endif %}
